* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Board{
  margin: auto;
  width: 750px;
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid red;
}

tbody{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.Cell{
  margin: 0;
  padding: 0;
  height: 150px;
  width: 150px;
  margin: auto;
  /* border: 1px solid black; */  
  background-color: gray;
  text-align: center;
}

.isLit{
  background-color: teal;
}


/*
.Box {
  height: 20em;
  width: 20em;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.hangman{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.buttons{
  display: flex;
  flex-flow: row wrap;
  width: 60%;
}*/
